<h1>Создать новый вопрос к тесту <%test = Test.find(params[:test_id])%><%= test.title%></h1>

<form action="/tests/<%= params[:test_id]%>/questions" method="post">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <p>
        <label for="question_body">Вопрос:</label>
        <input type="text" name="question[body]" id="question_body">
    </p><br>

    <input type="submit" value="Create">
</form>
