<% if resourse.present? && resourse.errors.present? %>
   <%= content_tag :div, class: 'resource-errors', data: { resource_id: resourse.id } do %>
     <div>
       <h2>Ошибка:</h2>

      <ul>
        <% resourse.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
