<footer>
  <ul>
    <li><%= current_year%> год</li>
    <li>Автор: Краснюк Екатерина</li>
    <li><%= github_url('qrkate', 'test-guru')%></li>
    <li><a href="https://thinknetica.com/" target="_blank">Учебный проект в онлайн-школе Thinknetica</a></li>
  </ul>
</footer>
