// Place all the styles related to the passed_tests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.unsuccessful_result {
  color: red; }

.successful_result {
  color: green; }

.progress {
  width: 100%;
  background-color: #ddd;
}
.progress-bar {
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}
